*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
}
.container{
    box-shadow: 0 0 4px 1px rgb(179,169,169);
    width: 400px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    background-color: rgb(9, 241, 241);
    align-items: center;
    flex-direction: column;
}
.container p{
    color: rgb(112, 6, 234);
    margin: 25px;
    font-size: 25px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.date-container label{
    font-size: larger;
    margin-right: 15px;
}
#birthDate,#currentDate{
    width: 140px;
    height: 40px;
    border: none;
    box-shadow: 0 0 2px 1px rgb(210, 197, 197);
    border-radius: 10px;
    margin-top: 10px;
    padding: 4px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(149, 79, 79);
    font-size: larger;
}
#calculation{
    width: 160px;
    height: 40px;
    margin-top: 25px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    outline: none;
    border-radius: 5px;
    color: black;
    background-color: rgb(81, 87, 240);
    box-shadow: 1px 3px 3px rgb(56, 84, 56);
    cursor: pointer;
    transition: 0.3s;
}
#calculation:active{
    box-shadow: 0 0 0 0;
}